.container{
  width: 80%;
  background-color: #ffffff;
  margin: 10% auto auto;
  height: 900px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.8);
}

.performanceText{
  text-align: center;
  padding-top: 1%;
}