.container {
  height: 100%;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-position-x: 40%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.container:hover {
  box-shadow: 0 0 120px rgba(255, 255, 255, 1);
  transition: 0.4s;
  z-index: 2;
  opacity: 1;
}

.darkBackground {
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .container {
    background-position-y: 20%;
  }
}

@media (max-width: 768px) {

}