.title {
  font-size: 22pt;
  font-weight: 600;
  margin: 0;
  color: #eeb082;
}

.titleBlock {
  top: 8%;
  color: white;
  height: 11vh;
  position: relative;
  width: 13vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  border-radius: 20px;
}

.innerBlock {
  position: absolute;
  width: 22vw;
  height: 50%;
  background-image: url("../../assets/jpg/whiteBrush.png");
  background-size: cover;
  background-position-y: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

@media (max-width: 1200px) {
  .innerBlock {
    width: 43vw;
  }

  .titleBlock {
    width: 25vw;
  }
}

@media (max-width: 768px) {
  .innerBlock {
    width: 75vw;
    min-width: 340px;
  }

  .titleBlock {
    width: 45vw;
    min-width: 180px;
  }
}