.title {
  font-size: 22pt;
  font-weight: 600;
  margin: 0;
  color: transparent;
  background-image: url("../../assets/jpg/goldenFont.jpg");
  background-clip: text;
  background-size: cover;
}

.titleBlock {
  top: 8%;
  color: white;
  height: 11vh;
  position: relative;
  width: 13vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  border-radius: 20px;
}

.innerBlock {
  position: absolute;
  width: 22vw;
  height: 50%;
  background-image: url("../../assets/jpg/whiteBrush.png");
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

@media (max-width: 1200px) {
  .innerBlock {
    width: 43vw;
  }

  .titleBlock {
    width: 25vw;
  }
}

@media (max-width: 768px) {
  .innerBlock {
    width: max(55vw, 270px);
  }

  .titleBlock {
    width: max(45vw, 180px);
  }
}