.container {
  z-index: 20;
  overflow-y: scroll;
}

.mainPhoto {
  width: 22vw;
  height: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
  object-fit: cover;
  background-size: cover;
  background-position-x: 40%;
}

.chatForm {
  position: fixed;
  right: 17px;
  width: 22vw;
  height: 90vh;
  background-image: url("../../assets/jpg/ChatForm.jpg");
}

.pageContainer{
  display: flex;
  opacity: 1;
  padding: 10px;
  width: 50vw;
  margin: auto auto;
  flex-direction: column;
  justify-content: center;
}

.playerWrapper {
  align-self: center;
  width: 50vw;
  height: auto;
  aspect-ratio: 16/9;
  box-shadow: 0 10px 25px rgba(0,0,0,0.8);
  margin: 2vh 0;
}

.playerGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap:2px;
  height: 80vh;
  box-shadow: 0 10px 25px rgba(0,0,0,0.8);
  margin-bottom: 4vh;
}

.playerGridLastChild {
  grid-column: 1/3;
}

.lessonInfo {
  align-self: center;
  width: fit-content;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.8);
  border-radius: 30px;
  padding: 1vw;
  .font {
    background-image: url("../../assets/jpg/goldenFont.jpg");
    background-clip: text;
    background-size: cover;
    color: transparent;
    font-size: 17pt;
  }
}

.slider {
  box-shadow: 0 10px 25px rgba(0,0,0,0.8);
  margin: 5vh 0;
  aspect-ratio: 16/9;
  width: 100%;
}

.performanceGrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.textBlockOnGrid {
  background: white;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.8);
  padding: 10px;
  align-self: center;
  text-align: center;
}

@media (max-width: 1200px) {
  .pageContainer {
    width: 90vw;
  }

  .playerWrapper {
    width: 80vw;
  }
}

@media (max-width: 768px) {
  .lessonInfo {
    .font {
      font-size: 13pt;
      padding: 2px;
    }
  }
}