.container {
  z-index: 20;
  overflow-y: scroll;
}

.mainPhoto {
  width: 22vw;
  height: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
  object-fit: cover;
  background-size: cover;
  background-position-x: 40%;
}

.chatForm {
  position: fixed;
  right: 17px;
  top: 50px;
  width: 22vw;
  height: 90vh;
}