.navbar {
  position: sticky;
  width: 100%;
  display: flex;
  font-size: 14pt;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  height: 10dvh;
}

.navbar img {
  width: 100%;
  height: auto;
}

.navbarUl {
  list-style-type: none;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.navbarLi {
  position: relative;
  list-style: none;
  width: 55px;
  height: 55px;
  background: white;
  border-radius: 60px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.13);
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.navbarLi:first-child {
  margin-right: 32.7%;
}

.navbarLi:last-child {
  margin-right: 10px;
}

.navbarText {
  font-size: 34pt;
  background-image: url("../../assets/jpg/goldenFont.jpg");
  background-clip: text;
  color: transparent;
  background-size: cover;
}

.insta {
  margin-left: auto;
}

ul li .navbarIcon{
  color: #777;
  font-size: 1.55em;
  align-items: center;
}

ul li:hover .navbarIcon{
  color: var(--i);
}

.iconTg{
  --i: rgb(36, 161, 222);
}

.iconInst{
  --i: rgb(215, 89, 152);
}

.iconYt{
  --i: rgb(255 0 0);
}

.iconMenu{
  --i: rgb(18, 193, 222);
}

@media (max-width: 1200px) {
  .navbarLi:first-child {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .insta, .navbar:first-child {
    margin: 0;
  }

  .navbarUl {
    padding-left: 1%;
    gap: 10px;
    justify-content: space-between;
  }
}