.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  font-size: 14pt;
  background-color: white;
  justify-content: flex-start;
  gap: 10%;
  align-items: center;
  z-index: 10;
}

ul {
  position: relative;
  display: flex;
  gap : 25px;
}

ul li{
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 60px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.13);
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.navbar-menu-item {
  margin-right: 40vw;
}

ul li .navbar-icon{
  color: #777;
  font-size: 1.55em;
  align-items: center;
}

ul li:hover .navbar-icon{
  color: var(--i);
}

.icon-tg{
  --i: rgb(36, 161, 222);
}

.icon-inst{
  --i: rgb(215, 89, 152);
}

.icon-yt{
  --i: rgb(255 0 0);
}

.icon-menu{
  --i: rgb(18, 193, 222);
}