.body{
  width: 80%;
  height: 900px;
}

.firstBlock{
  position: absolute;
  top: 1150px;
  left: 100px;
  z-index: 2;
}

.secondBlock{
  position: absolute;
  top: 1250px;
  left: 800px;
  z-index: 2;
}