@font-face {
    font-family: 'NewStandartOld';
    src: local('NewStandartOld.ttf'), url('./fonts/NewStandartOld.ttf') format('truetype');
}

@font-face {
    font-family: 'Peridot';
    src: local('PeridotDemoPE-Light.otf'), url('./fonts/PeridotDemoPE-Light.otf') format('opentype');
}

.font-NewStandartOld {
    font-family: 'NewStandartOld', serif;
}

.font-Peridot {
    font-family: 'Peridot', serif;
}