.container{
  width: 50vw;
  background-color: #ffffff;
  margin: 5vh auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.8);
}

.performanceText{
  text-align: center;
  padding-top: 1%;
  font-size: 20pt;
}

.sliderContainer{
  width: 98%;
  text-align: center;
  margin: auto;
  overflow: hidden;
}