.mainContainer {
  min-height: 90dvh;
}

.menuContainer {
  height: 89dvh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 1%;
  padding: 0 1vw;
}

@media (max-width: 1200px) {
  .menuContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .menuContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
  }
}